.select {
    display: inline-block;
    line-height: 1;
    box-sizing: border-box;

    &__control {
        color: inherit;
        font: inherit;
        line-height: inherit;
        display: inline-block;
        width: 100%;
        box-sizing: border-box;
        outline: 0;
    }
}
